.home-container {
  max-width: 1344px;
  flex-grow: 1;
  margin: 15px auto;
  position: relative;
  width: auto;
}

.home-loader {
  margin: auto;
}

.form-group {
  display: flex;
  justify-content: space-around;
}

.form-field{
  width: 40%;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1100px;
  justify-content: center;
  margin: auto;
}
