<div class="home-container">

  <div>
    <form [formGroup]="formGroup">
      <mat-form-field class="input-full-width" appearance="outline">
        <mat-label>Favorite food</mat-label>
        <input matInput formControlName="search">
      </mat-form-field>
    </form>
  </div>
</div>

<div class="card-container" *ngIf="(pokemonCard$ | async)?.data as data">
  <ng-container *ngFor="let pokemon of data; trackBy: trackByFn">
    <ui-card [title]="pokemon.name"
             [img]="pokemon.images.small"
             [count]="pokemon | countArticles | async"
             (remove)="removePokemon(pokemon)"
             (add)="addPokemon(pokemon)"></ui-card>
  </ng-container>

</div>
