<mat-card class="ui-card">
  <mat-card-header>
    <mat-card-title>{{title}}</mat-card-title>
    <mat-card-subtitle>{{subtitle}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image class="ui-card-image" [src]="img">
  <mat-card-content>
    <ng-content></ng-content>
  </mat-card-content>
  <mat-card-actions class="ui-card-actions">
    <button mat-button [disabled]="count === 0" (click)="remove.emit()">-</button>
    <span>{{count}}</span>
    <button mat-button (click)="add.emit()">+</button>
  </mat-card-actions>
</mat-card>
